.boards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boards__header {
  width: 1400px;
  height: 100px;
  margin-bottom: 20px;
  background-color: var(--color-bg-secondary);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.boards__container {
  width: 1400px;
  min-height: 90vh;
  max-height: 100%;
  background-color: var(--color-bg-secondary);
  border-radius: 15px;
}

.boards__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--color-accent-purple-light);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.boards__wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.board {
  display: flex;
  flex-direction: column;
  width: 425px;
  max-height: 84vh;
  border: 3px dashed var(--color-accent-purple-light);
  border-radius: 15px;
  padding: 10px;
}

.board__title {
  color: var(--color-accent-purple-light);
}

.board__button {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid var(--color-accent-purple-light);
  position: relative;
  cursor: pointer;
}

.board__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 10px;
}


.board__button:after,
.board__button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 20px;
  background-color: var(--color-accent-purple-light);
  transform: translate(-50%, -50%);
}

.board__button:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.task__list {
  overflow-y: auto;
}

.boards__control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 20px;
}

.completed {
  display: flex;
  align-items: center;
}

.completed__title {
  font-size: 24px;
  color: var(--color-bg-secondary);
  margin-right: 10px;
}

.completed__button,
.completed__button-active {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid var(--color-bg-secondary);
  cursor: pointer;
}

.completed__button:after {
  content: "";
  position: absolute;
  top: 13%;
  left: 10%;
  width: 15px;
  height: 15px;
  background-color: var(--color-accent-purple-light);
  border-radius: 50%;
  border: 2px solid var(--color-bg-secondary);
  animation: completedOut 0.8s;
}

.completed__button-active:after {
  content: "";
  position: absolute;
  top: 13%;
  left: 55%;
  width: 15px;
  height: 15px;
  animation: completedIn 0.8s;
  background-color: var(--color-bg-secondary);
  border-radius: 50%;
  border: 2px solid var(--color-bg-secondary);
}

@keyframes completedIn {
  from {
    transform: translateX(-137%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes completedOut {
  from {
    transform: translateX(137%);
  }
  to {
    transform: translateX(0);
  }
}
