@import 'styles/base/reset.css';
@import './styles/base/variables.css';
@import 'styles/components/buttons.css';
@import 'styles/components/logo.css';
@import 'styles/layout/layout.css';
@import 'styles/login-screen/login-screen.css';
@import 'styles/components/gallery.css';
@import 'styles/board-screen/board-screen.css';
@import 'styles/components/task.css';
@import 'styles/loading-screen/loading-screen.css';
@import 'styles/user-screen/user-screen.css';
@import 'styles/main-screen.css';

@font-face {
  font-family: 'Roboto';
  src:
    url('./assets/fonts/Roboto-Regular.ttf') format('woff2'),
    url('./assets/fonts/Roboto-Regular.ttf') format('woff'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('./assets/fonts/Roboto-Bold.ttf') format('woff2'),
    url('./assets/fonts/Roboto-Bold.ttf') format('woff'),
    url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
