.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-accent-purple-light);
  overflow: auto;
}

.login:before,
.login:after {
  position: absolute;
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(var(--color-accent-purple), var(--color-accent-purple-light));
}

.login:before {
  top: 10%;
  left: 20%;
  transform: rotate(90deg);
}

.login:after {
  top: 55%;
  left: 65%;
  transform: rotate(-45deg);
}

.login__logo-container {
  display: inline-grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 20px;
  width: 1000px;
  height: 800px;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
}

.login__left-section {
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
}

.login__right-section {
  border-radius: 10px;
  background-color: var(--color-accent-purple-light);
}
.login__logo {
  display: flex;
  align-items: baseline;
  font-size: 36px;
  margin-bottom: 20px;
}

.login__flow {
  padding-left: 0;
}

.login__title {
  font-size: 40px;
}

.login__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-secondary);
  margin-bottom: 30px;
}

.login__form-group {
  position: relative;
}

.email__input,
.password__input,
.login__btn-google {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid var(--color-text-secondary);
}

.email__input {
  margin-bottom: 40px;
}

.password__input {
  margin-bottom: 40px;
}

.email__label,
.password__label {
  background-color: var(--color-bg-secondary);
}

.email__label,
.password__label {
  position: absolute;
}

.email__label {
  top: -7%;
  left: 3%;
}

.password__label {
  top: 29%;
  left: 3%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease;
}

/* Убираем стили автозаполнения в Chrome и других WebKit-браузерах */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Цвет фона */
  -webkit-text-fill-color: black !important; /* Цвет текста */
  caret-color: black !important;
  transition: background-color 5000s ease-in-out 0s; /* Хак для отключения цвета */
}

/* Для Firefox */
input:-moz-autofill {
  background-color: #fff !important;
}

input:focus {
  outline: none;
  border-color: #7677f4;
}

input:focus + label {
  color: var(--color-accent-purple);
}

.login__divider {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 24px 0 34px 0;
  color: var(--color-text-primary);
  font-size: 1rem;
}

.login__divider::before,
.login__divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: var(--color-text-primary);
}

.google_icon {
  margin-right: 10px;
}

.login__signup-text {
  font-size: 20px;
  text-align: center;
  color: var(--color-text-secondary);
}

.login__signup-button {
  color: var(--color-blue);
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.login__signup-button:hover {
  opacity: 0.7;
}

.login__signup-button:active {
  opacity: var(--color-blue-darker);
}

.login__right-section {
  height: 100%;
  width: 100%;
}
.task-list-icon {
  margin-right: 10px;
}

.login-man {
  margin-bottom: 20px;
}

.password__toggle {
  border: none;
  width: 60px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 38%;
  left: 83%;
  cursor: pointer;
}

.password__icon {
  margin: 0 auto;
}
