:root {
  --color-bg-primary: #F5F5F5;
  --color-bg-secondary: #FFFFFF;
  --color-accent-purple: #7677F4;
  --color-accent-purple-light: #9B9BFF;
  --color-accent-purple-darker: #7474F6;
  --color-text-primary: #2D3436;
  --color-text-secondary: #636E72;
  --color-blue: #3938E5;
  --color-blue-darker: #1A1AC7;
  --color-blue-dark-purple: #1F0059;
  /* Градиенты */
  --gradient-purple: linear-gradient(var(--color-accent-purple-light), var(--color-accent-purple-darker));

  /* Шрифты */
  --font-main: 'Roboto', sans-serif;
}

