:root {
  &[data-theme='light'] {
    --color-bg-primary: #f5f5f5;
    --color-bg-secondary: #ffffff;
    --color-text-primary: #2d3436;
    --color-text-secondary: #636e72;
    --color-accent-purple: #7677f4;
    --color-accent-purple-light: #9b9bff;
    --color-accent-purple-darker: #7474f6;

    --color-blue: #3b4cc0;
    --color-blue-darker: #2b3a99;
    --color-blue-dark-purple: #1c2866;

    --color-accent-red: #b03045;
    --color-accent-green: #3e7e5d;

    --gradient-purple: linear-gradient(#9b9bff, #7474f6);
    --background: url('/public/images/wallpaper-light.svg');
    --arrow-down: url('public/images/arrow-down-light.svg');
  }

  &[data-theme='dark'] {
    --color-bg-primary: #1e1e2f;
    --color-bg-secondary: #2a2a40;
    --color-text-primary: #f1f1f1;
    --color-text-secondary: #a4a6a9;
    --color-accent-purple: #8889ff;
    --color-accent-purple-light: #a2a3ff;
    --color-accent-purple-darker: #5c5de0;

    --color-blue: #4a5ed3;
    --color-blue-darker: #3648a3;
    --color-blue-dark-purple: #24234c;

    --color-accent-red: #b03a58;
    --color-accent-green: #5e9f76;

    --gradient-purple: linear-gradient(#6b6aff, #5a59e0);
    --background: url('public/images/wallpaper-dark.jpeg');
    --arrow-down: url('public/images/arrow-down-dark.svg');
  }

  --font-main: 'Roboto', sans-serif;
}
