:root {
  --color-bg-primary: #F5F5F5;       /* Основной фон страницы и карточек */
  --color-bg-secondary: #FFFFFF;     /* Вторичный фон: боковые панели, ховер-эффекты */
  --color-accent-purple: #7677F4;       /* Основной акцент: кнопки, важные действия */
  --color-accent-purple-light: #9B9BFF; /* Вторичный акцент: ховер, доп. элементы */
  --color-accent-purple-darker: #7474F6;/* Дополнительный красный */
  --color-text-primary: #2D3436;     /* Основной текст: заголовки, контент */
  --color-text-secondary: #636E72;   /* Вторичный текст: подписи, неактивное */
  --color-blue: #3938E5;           /* Границы: разделители, обводки */
  --color-blue-darker: #1A1AC7;
  /* Градиенты */
  --gradient-red: linear-gradient(var(--color-accent-purple-light), var(--color-accent-purple-darker));

  /* Шрифты */
  --font-main: 'Roboto', sans-serif;
}

